body {
    background: linear-gradient(to bottom, #9c8aff, #14006d);
    background-attachment: fixed;
}

header {

    font-family: Georgia, 'georgia', Times, serif;
    background-color: #14006d;
    color: #d3b4fc;
}

h1 {
    font-family: courier new, 'courier new', Times, serif;
    text-align: center;
    padding-left: 1em;
    margin-bottom: 0;
    color: #000000;
}

nav {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-weight: bolder;
    padding-left: 1em;

    color: #d3b4fc;

}

h2 {
    font-family: courier new, 'courier new', Times, serif;
    background-color: #14006d;
    color: hsl(266, 100%, 87%);
    text-align: center;
}

h3 {
    color: #003058
}

#sungod {
    margin-left: 25%;
    border: 10px solid #d3b4fc;

}

p {
    color: #14006d;
    padding-left: 1em;
}

ul {
    color: #14006d;
}
#ringmaster {
    
    border: 10px solid #d3b4fc;
    height: 400px;
 
}

#remo {
    height:  400px;
    
    border: 10px solid #d3b4fc;
}

#springs {
     border: 10px solid #d3b4fc;
    height: 400px;
}

#juggler {
     border: 10px solid #d3b4fc;
    height: 400px;
}
#arie {
     border: 10px solid #d3b4fc;
    height: 400px;
}