body {

    background-color: #ffffff;
    color: #666666;
}

header {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #003058;
    color: #ffffff;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
}

nav {
    font-weight: bolder;
    background-color: #F3F3F3;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #424242;
}

dt {
    color: #003058 font-weight: bolder;
}

.ut {
    color: #BA1C21
}

footer {
    font-size: .70rem;
    font-family: italic;
    alignment-baseline: central;
}

#wrapper {
    width: 80%;
    margin-right: auto margin-left:auto;
}